* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
header img {
  /* max-width: 100%; */
  /* height: 200px; */
  /* height: 20rem; */
  /* background-image: url(./assets/Image_Illusion.jpeg); */
  /* background-size:cover; */
  /* background-position:center; */
}
section {
  padding: 5em;
}
h1 {
  /* color: red; */
}
p {
  line-height: 1.5;
}
img {
  display: block;
  width: 100%;
}
h1,
footer {
  text-align: center;
}
footer {
  padding: 1em;
}
span {
  color: red;
}
