* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

section {
  padding: 5em;
}

p {
  line-height: 1.5;
}
img {
  display: block;
  width: 100%;
}
h1,
footer {
  text-align: center;
}
footer {
  padding: 1em;
}
span {
  color: red;
}

@media (max-width: 767px) {
  section {
    padding: 2em;
  }
}
